<html ng-app="ionic.example">

  <head>
    <meta charset="utf-8">
    <title>Tabs</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- ionic css -->
    <script src="../dist/js/ionic.js"></script>
    <link rel="stylesheet" href="../dist/css/ionic.css">
    <link rel="stylesheet" href="../css/custom.css">
  </head>
<a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
  <body>
<div class="list card">

  <div class="item item-avatar">
    <img src="http://s7d2.scene7.com/is/image/PoloGSI/s7-1025692_lifestyle?wid=2000&hei=2000">
    <label class="item item-input">
    <input type="text" placeholder="Description">
    <p>type discription</p>
  </div>

  <div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-information-circled"></i>
    Catagory
    <span class="item-note">
      Coat
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Brand
    <i class="icon ion-plus-circled"></i>
    <span class="item-note">
      Lacoste
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-bookmark"></i>
    Tag
    <span class="item-note">
      Top
    </span>
  </a>

</div>
<button class="button button-full button-stable">
  SAVE
</button>

  <content style="margin-top:42px;height:100%;display:block;overflow-y:scroll;">
   
  </body>
</html>