<html ng-app="ionic.example">

  <head>
    <meta charset="utf-8">
    <title>Tabs</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- ionic css -->
    <script src="../dist/js/ionic.js"></script>
    <link rel="stylesheet" href="../dist/css/ionic.css">
    <link rel="stylesheet" href="../css/custom.css">
  </head>

  <body>

  <div class="bar bar-header bar-light">
    <button class="button button-clear icon ion-chevron-left"></button>
      <h1 class="title">COATS</h1>
  </div>

  <div class="item item-image">
    <img src="http://s7d2.scene7.com/is/image/PoloGSI/s7-1025689_lifestyle?wid=2000&hei=2000">
  </div>
  <div class="list card">
    <h4>Ralph Lauren Coat</h4>
    <p>winter</p>
    <h6>2013.11.1</h6>
</div>

  <content style="margin-top:42px;height:100%;display:block;overflow-y:scroll;">
    <!-- Line for Coat -->
    <div class="row">
    </div>
    <div class="row ">
    </div>  
  </content>
   <div class="item item-body">

  </body>
</html>