<html ng-app="ionic.example">

  <head>
    <meta charset="utf-8">
    <title>Tabs</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- ionic css -->
    <script src="../dist/js/ionic.js"></script>
    <link rel="stylesheet" href="../dist/css/ionic.css">
    <link rel="stylesheet" href="../css/custom.css">
  </head>

  <body>

  <div class="bar bar-header bar-light">
    <button class="button button-clear icon ion-chevron-left"></button>
      <h1 class="title">Syan's Wardrobe</h1>
    <button class="button button-clear icon ion-plus"></button>
  </div>

  <content style="margin-top:42px;height:100%;display:block;overflow-y:scroll;">
    <!-- Line for Coat -->
    <div class="row">
      <h4>Coat</h4>
    </div>
    <div class="row ">
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
    </div>
    <div class="row">
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
    </div>

    <!-- Line for Knit -->
    <div class="row">
      <h4>Knit</h4>
    </div>
    <div class="row">
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
    </div>
    <div class="row">
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
    </div>

    <!-- Line for Socks -->
    <div class="row">
      <h4>Socks</h4>
    </div>
    <div class="row">
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
    </div>
    <div class="row">
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
    </div>

    <!-- Line for Underwear -->
    <div class="row">
      <h4>Underwear</h4>
    </div>
    <div class="row">
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
    </div>
    <div class="row">
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
      <div class="col col-33 wd-pic">Name</div>
    </div>
  </content>

  </body>
</html>