<html ng-app="ionic.example">

  <head>
    <meta charset="utf-8">
    <title>Tabs</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- ionic css -->
    <script src="../dist/js/ionic.js"></script>
    <link rel="stylesheet" href="../dist/css/ionic.css">
    <link rel="stylesheet" href="../css/custom.css">
  </head>

  <body>

<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>

<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="http://s7d2.scene7.com/is/image/PoloGSI/s7-1025692_lifestyle?wid=2000&hei=2000">
      <h2>COATS</h2>
      <p>5</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="http://s7d2.scene7.com/is/image/PoloGSI/s7-1025588_lifestyle?wid=2000&hei=2000">
      <h2>KNITS</h2>
      <p>10</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="http://s7d2.scene7.com/is/image/PoloGSI/s7-1033286_lifestyle?wid=2000&hei=2000">
      <h2>PANTS</h2>
      <p>3</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="http://s7d2.scene7.com/is/image/PoloGSI/s7-1047939_lifestyle?wid=2000&hei=2000">
      <h2>SKIRTS</h2>
      <p>3</p>
    </a>
</div>
  <content style="margin-top:42px;height:100%;display:block;overflow-y:scroll;">
    <!-- Line for Coat -->
    <div class="row">
    </div>
    <div class="row ">
    </div>  
  </content>
   <div class="item item-body">

  </body>
</html>